login-frame{
    div.title{        
        h3{
            display: block;
            color: map-get($color, orange);
            -webkit-text-fill-color: map-get($color, orange);
            font-weight: 400;    
            font-size: 2.75rem;        
        }
    }
}