login-frame{
    div.title{        
        h2{
            display: block;
            margin: 0 auto;            
            font-size: 1.75rem;
            font-weight: 100;
            margin: 0 3rem;
        }
    }
}