<div 
    class="form-field-wrapper" 
    [formGroup]="fgroup"
    [class.visible] = "formField.visible"
>
    <div 
        class="icon 
        {{fieldIconClass}}" 
        [innerHTML]="formField.safeContent"
        *ngIf="formField.visible"
        >
    </div>
    <input 
        type="text" 
        formControlName="{{formField.name}}" 
        *ngIf="formField.type === 1" 
        autocomplete="off" 
        spellcheck='false' 
        autocorrect='off'
        placeholder="{{formField.name}}"
        autofocus
        #formFieldRef        
    />
    <input 
        type="hidden" 
        formControlName="{{formField.name}}" 
        *ngIf="formField.type === 5" 
    />
    <label 
        for="{{formField.name}}"
        *ngIf="formField.visible"
    >
    {{formField.label}}
    </label>
</div>
<div class="validation">
    <span 
        class="message" 
        *ngIf="showValMessage"
    >
    {{validationMessage}}
    </span>
</div>
