<div 
    class="form-field-wrapper" 
    [formGroup]="fgroup"
    [class.visible] = "formField.visible"
    [ngSwitch]="formField.type"
>
    <div 
        class="icon 
        {{fieldIconClass}}" 
        [innerHTML]="formField.safeContent"
        *ngIf="formField.visible"
        >
    </div>
    <input 
        type="text" 
        formControlName="{{formField.name}}"
        name="{{formField.name}}"
        *ngSwitchCase = "1" 
        autocomplete="off" 
        spellcheck='false' 
        autocorrect='off'
        placeholder="{{placeholder[languageCode]}}"
        autofocus
        #formFieldRef        
    />
    <input 
        type="hidden" 
        formControlName="{{formField.name}}" 
        *ngSwitchCase = "5"
    />
    <input 
        type="password" 
        formControlName="{{formField.name}}" 
        *ngSwitchCase = "6" 
        autocomplete="off" 
        spellcheck='false' 
        autocorrect='off'
        placeholder="{{placeholder[languageCode]}}"
        autofocus
        #formFieldRef        
    />
    <label 
        for="{{formField.name}}"
        *ngIf="formField.visible"
    >
    {{label[languageCode]}}
    </label>
</div>
<div class="validation">
    <span 
        class="message" 
        *ngIf="showValMessage"
    >
    {{validationMessage}}
    </span>
</div>