login-frame{
    display: grid;
    background: linear-gradient(90deg, #FFF, #F5F1E2);
    filter: drop-shadow(0px 0px 50px rgba(0, 0, 0, .15));
    width: fit-content;           /* Safari/WebKit uses a non-standard name */
    max-width: 35vw;
    height: fit-content;
    margin: 0 auto;
    position: relative;
    overflow: hidden;    
}
