<form 
  [formGroup]="fgroup" 
  (ngSubmit)="onSubmit(fgroup.value)"
  >
  <div class="form-field-list" *ngIf="formFieldList.length > 0">
    <app-form-field
      [formField] = "formField" 
      [fgroup] = "fgroup" 
      [label] = "labels[formField.label]"    
      [placeholder] = "labels[formField.placeholder]"
      [language] = "language"
      *ngFor = "let formField of formFieldList"
      [class.visible] = "formField.visible" 
    >
    </app-form-field>
  </div>
  <div class="process-message">
    <span>{{validationMessage}}</span>
  </div>
  <div class="button-list" *ngIf="buttonList">
    <app-button 
      *ngFor="let button of buttonList"
      [button]="button"
      [label] = "labels[button.label]"
      [title] = "labels[button.title]"
      [language] = "language"
    >
    </app-button>
  </div> 
</form>
