<form 
  [formGroup]="fgroup" 
  (ngSubmit)="onSubmit(fgroup.value)">
  <div class="form-field-list" *ngIf="formFieldList.length > 0">
    <app-form-field 
      [formField]="formField" 
      [fgroup]="fgroup" 
      *ngFor="let formField of formFieldList"
      [showValMessage] = "showValMessage"
    >
    </app-form-field>
  </div>
  <div class="button-list" *ngIf="buttonList" [formGroup]="fgroup">
    <app-button 
      [button]="button" 
      *ngFor="let button of buttonList" 
      [callbackFunction]="onSubmit"
      [formValid]="fgroup.valid"
      (click)="GetFormContent()"
    >
    </app-button>
  </div>
</form>

<!-- <app-button 
[button]="button" 
*ngFor="let button of buttonList" 
[callbackFunction]="onSubmit"
[formValid]="fgroup.valid"
(extEvent)="showValMessage=$event"
>
</app-button> -->