<div class="wrapper">
  <img srcset="../../../../../assets/images/geo-app-login-bg-small.png 1366w,
            ../../../../../assets/images/geo-app-login-bg-medium.png 1440w,
            ../../../../../assets/images/geo-app-login-bg-large.png 1920w,
            ../../../../../assets/images/geo-app-login-bg-x-large.png 2560w" sizes="(max-width: 1366px) 768px,
            (max-width: 1440px) 1366px,
            (max-width: 1920x) 1440px,
            2560px" src="../../../../../assets/images/geo-app-login-bg-large.png" />
  <login-frame 
    [companyCode]="companyCode"
    >
  </login-frame>
</div>

