app-form-data div.form-field-list app-form-field{
  div.form-field-wrapper{
    display: grid;
    &.visible{
    	border-bottom: solid 1px map-get($color, orange);
    	min-height: 2rem;
    	align-items: end;
	}
  }
}
