div.form-data-list app-form-data{
	display: grid;
	grid-template-columns: auto;
	position: absolute;
	bottom: 1rem;
	right: 0;
	transform-origin: left;
	transition: all .5s ease-in-out;
	transform: translate(100%, 0rem);
	width: 100%;
	&.active{
		position: relative;
		transition: all .5s ease-in-out;
		transform: translate(0, 0);
  		form{
    			display: grid;
  		}
  	}
	&.hidden{
		transition: all .3s ease-in-out;
		transform: translate(-100%, 0);
	}
}
