div.panel-2{
    display: grid;
    background: linear-gradient(180deg,#FFF, #C4C4C4);

    img.quarter{
        display: grid;
        align-items: end;
        margin: auto 0 0 auto;
        max-height: 50vh;
        width: 50%;
    }
}