app-form-data div.button-list app-button {
  button {
    div.button-icon {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      svg {
        height: 1rem;
        fill: white;
      }
      &.continue {      
        right: .5rem;        
        svg {
          margin-left: auto;
        }
      }
      &.back {      
        left: .5rem;        
        svg {
          margin-right: auto;
          transform: rotate(-180deg);
        }
      }
    }
  }
}